In [8]:
#5.1
def myBMI(weight, height):
    bmi = weight * 703 / height**2
    if bmi < 18.5:
        print('Underweight')
    elif bmi < 25:
        print('Normal')
    else:
        print('Overweight')
myBMI(190,75)
myBMI(140,75)

Normal
Underweight

In [11]:
#5.2
def power(n):
    for i in range(1,n+1):
        print(2**i,end=' ')
power(6)

2 4 8 16 32 64

In [20]:
#5.3
def arithmetic(lst):
    if len(lst) < 2: # a sequence of length < 2 is arithmetic
        return True
    diff = lst[1] - lst[0]
    for i in range(1, len(lst)-1):
        if lst[i+1] - lst[i] != diff:
            return False
    return True
arithmetic([3, 6, 9, 12, 15])

True

In [3]:
#5.4
def factorial(n):
    if n<=1:
        return 1
    count = 1
    for i in range(2, n+1):
        count *=i
    return count
factorial(3)

6

In [6]:
#5.5
def acronym(phrase):
    words  =phrase.split()
    x = ''
    for i in words:
        x += i[0].upper()
    return x
acronym('random access memory')

'RAM'

In [11]:
#5.6
def divisor(n):
    res = []
    for i in range(1,n+1):
        if n%i==0:
            res.append(i)
    return res
divisor(6)

[1, 2, 3, 6]

In [17]:
#5.7
def xmult(l1, l2):
    l = []
    for i in l1:
        for j in l2:
            l.append(i*j)
    return l
xmult([2,3],[1,2])

[2, 4, 3, 6]

In [21]:
#5.8
def bubblesort(lst):
    for i in range(len(lst)-1, 0, -1):
        for j in range(i):
            if lst[j] > lst[j+1]:
                lst[j], lst[j+1] = lst[j+1], lst[j]
    return lst
bubblesort([3, 1, 7, 4, 9, 2, 5])

[1, 2, 3, 4, 5, 7, 9]

In [9]:
#5.9

def add2D(t1,t2):
    nrows = len(t1)
    ncols  =len(t1[0])
    for i in range(nrows):
        for j in range(ncols):
            t1[i][j] += t2[i][j]
            print(t1[i][j], end =' ')
        print()
s = [[4, 7, 2, 5], [5, 1, 9, 2], [8, 3, 6, 6]]
t =[[0, 1, 2, 0], [0, 1, 1, 1], [0, 1, 0, 0]]
add2D(s,t)

4 8 4 5
5 2 10 3
8 4 6 6

In [13]:
#5.10
def interest(x):
    amount = 100
    count = 0
    while amount < 200:
        count += 1
        amount += amount*x
    return count
interest(0.06)

12

In [21]:
#5.11
from math import factorial as fac
def approxE(error):
    value = 1
    i = 1
    while 1/fac(i)>error:
        value += 1/fac(i)
        i += 1
    return value
approxE(0.02)

2.708333333333333

In [22]:
#5.12
def test(x):
    if x==0:
        print('zero')
    elif x>0:
        print('positive')
    else:
        print('negative')
test(-5)

negative

In [28]:
#5.14
def mult3(list):
    for i in list:
        if i%3==0 :
            print(i)
mult3([3, 1, 6, 2, 3, 9, 7, 9, 5, 4, 5])

3
6
3
9
9

In [31]:
#5.15
def vowels(str):
    for i in range(0,len(str)):
        if str[i] in 'aeiouAEIOU':
            print(i)
vowels('Hello WORLD')

1
4
7

In [46]:
#5.16
def indexes(string,char):
    lst = []
    for index,i in enumerate(string):
        if i == char:
            lst.append(index)
    return lst
indexes('mississippi', 's')

[2, 3, 5, 6]

In [50]:
#5.17
def doubles(list):
    for i in range(1,len(list)):
        if (list[i] == 2*list[i-1]):
            print(list[i])
doubles([3, 0, 1, 2, 3, 6, 2, 4, 5, 6, 5])

2
6
4

In [54]:
#5.18
def four_letter(list):
    lst = []
    for i in list:
        if len(i) == 4:
            lst.append(i)
    return lst
four_letter(['dog', 'letter', 'stop', 'door', 'bus', 'dust'])

['stop', 'door', 'dust']

In [61]:
5.19
def inBoth(l1,l2):
    for i in l1:
        for j in l2:
            if i == j:
                return True
        return False
            
inBoth([3, 2, 5, 4, 7], [9, 0, 1, 3])

True

In [64]:
#5.20:
def intersect(l1,l2):
    lst = []
    for i in l1:
        for j in l2:
            if i == j:
                lst.append(i)
    return lst
intersect([3, 5, 1, 7, 9], [4, 2, 6, 3, 9])

[3, 9]

In [1]:
#5.21
def pair(l1,l2,n):
    for i in l1:
        for j in l2:
            if i+j == n:
                print(i,j)
pair([2, 3, 4], [5, 7, 9, 12], 9)

2 7
4 5

In [14]:
#5.22
def pairSum(l1,n):
    for i in range(0,len(l1)):
        for j in range(i+1,len(l1)):
            if l1[i] + l1[j] == n:
                print(i,j)
pairSum([7, 8, 5, 3, 4, 6], 11)

0 4
1 3
2 5

In [18]:
#5.23
def pay(wage,hours):
    if hours <= 40:
        return hours*wage
    elif hours <= 60:
        return (hours-40)*1.5*wage+40*wage
    else:
        return (hours-60)*2*wage+20*1.5*wage+40*wage
pay(10,35)
pay(10,45)
pay(10,61)

720.0

In [21]:
#5.24
def case(string):
    if string[0] >= 'A' and string[0] <= 'Z':
        return 'Capitalized'
    elif string[0] >= 'a' and string[0] <= 'z':
        return 'Uncapitalized'
    else:
        return 'Unknown'
    
case('Android')

'Unknown'

In [26]:
#5.25
def leap(year):
    if (year%4 == 0):
        return True
    return False
leap(2008)

True

In [28]:
#5.26
def rps(p1,p2):
    if p1 == p2:
        return 'Tie'
    elif (p1 == 'r' and p2 == 's') or (p1 == 's' and p2 == 'p') or (p1 == 'p' and p2 == 'r'):
        return '1st player win'
    else:
        return '2nd player win',
rps('r','p')

('2nd player win',)

In [41]:
#5.27
def letter2num(grade):
    num = 4 - (ord(grade[0]) - ord('A'))
    if len(grade) > 1:
        if grade[1] == '+':
            num += 0.3
        else:
            num -= 0.3
    return num
letter2num('A-')

3.7

In [61]:
#5.28
def geometric(lst):
    if len(lst) <= 1:
        return True
    ratio = lst[1]/lst[0]
    for i in range(1,len(lst)):
        if lst[i]/lst[i-1] != ratio:
            return 'False'
    return True
geometric([2, 4, 8, 16, 32, 64, 128, 256])

True

In [66]:
#5.29
def lastfirst(names):
    last,first = [],[]
    for i in names:
        temp_last,temp_first = i.split(',')
        last.append(temp_last)
        first.append(temp_first)

    x = first,last
    return x
lastfirst(['Gerber, Len', 'Fox, Kate', 'Dunn, Bob'])

([' Len', ' Kate', ' Bob'], ['Gerber', 'Fox', 'Dunn'])

In [5]:
#5.30
def many(file):
    l1,l2,l3,l4 = 0,0,0,0
    infile = open(file,'r')
    content = infile.read()
    infile.close
    table = str.maketrans('!,.::?','      ')
    content = content.translate(table)
    word = content.split()
    for i in word:
        if len(i) == 1:
            l1 += 1
        elif len(i) == 2:
            l2 += 1
        elif len(i) == 3:
            l3 += 1
        elif len(i) == 4:
            l4 += 1
    print('words of length 1 : {}\nwords of length 2 : {}\nwords of length 3 : {}\nwords of length 4 : {}\n'.format(l1,l2,l3,l4))
many('sample.TXT')

words of length 1 : 3
words of length 2 : 6
words of length 3 : 4
words of length 4 : 6

In [6]:
#5.31
def subsetsum(l1,t):
    for i in range(0,len(l1)):
        for j in range(i,len(l1)):
            for k in range(j,len(l1)):
                if l1[i] + l1[j] + l1[k] == t:
                    return True
    return False
subsetsum([5, 4, 10, 20, 15, 19], 38)

True

In [26]:
#5.32
def fib(n):
    if n < 2:
        return 1
    a = 1
    b = 1
    for i in range(1,n):
        a = a + b
        b = a - b 
    return a
fib(4)

5

In [31]:
#5.33
def mystry(n):
    ans = 0
    while n > 1:
        ans += 1
        n = int(n/2)
    return ans
mystry(25)

4

In [32]:
#5.34
def statement(lst):
    dep,draws = 0,0
    for n in lst:
        if n > 0:
            dep += n
        else:
            draws += n
    return [dep,draws]
statement([30.95, -15.67, 45.56, -55.00, 43.78])

[120.29, -70.67]

In [38]:
#5.35
def pixels(lst):
    ans = 0
    for i in range(0,len(lst)):
        for j in range(0,len(lst[0])):
            if lst[i][j] > 0:
                ans += 1
    return ans

pixels([[0, 156, 0, 0], [34, 0, 0, 0], [23, 123, 0, 34]])

5

In [47]:
#5.36
def prime(n):
    if n == 1:
        return False
    elif n == 2:
        return True
    else:
        for i in range(2,n):
            if n%i == 0:
                return False
        return True
        
prime(5)

True

In [60]:
#5.37
def mssl(lst):
    max = 0
    for i in range(0,len(lst)):
        for j in range(i+1,len(lst)+1):
            if sum(lst[i:j]) > max:
                max = sum(lst[i:j])
    return max
    if max < 0:
        return max
mssl( [4, -2, -8, 5, -2, 7, 7, 2, -6, 5])

19

In [63]:
#5.38
def collatz(n):
    while n != 1:
        if n % 2 == 0:
            n = n/2
        else:
            n = 3*n+1
        print(int(n))
collatz(10)

5
16
8
4
2
1

In [69]:
#5.39
def exclamation(string):
    answer = ''
    for i in string:
        if i in 'aeiouAEIOU':
            answer += 4*i
        else:
            answer += i
    answer += '!'
    return answer
exclamation('argh')

'aaaargh!'

In [71]:
#5.40

In [72]:
#5.41